*.so
.project
examples/simpleFit/simpleFitExample
examples/dalitz/dalitz
examples/dalitz/DalitzFit.cu
examples/dalitz/lazy.sh
examples/exponential/exponential 
examples/product/product
wrkdir/
*.o
*.png
*.eps
html/
*.aux
*.haux
*.htoc
*.log
*.out
*.toc
